#userName{
    border: 5px solid navy; 
    padding: 5px;
    font-size: 25px;
    font-family: Poppins;

}
#next {
    border: 5px solid navy; 
    padding: 5px;
    border-radius: 10px; 
    width: 150px; 
    height: 60px; 
    font-size: 16px;
}
h2{
    margin: 0px;

}

h1{
    padding: 5px;
    font-family: Poppins;
}
body {
    font-family: Poppins;
    text-align: center;
}

form {
    margin-top: 50px; 
}

#userName {
    width: 300px; 
    font-size: 16px; 
}

#output {
    margin-top: 20px;
}

.hidden {
    display: none;
}

table {
    margin: 0 auto; 
}

h1 {
    font-family: "Righteous";
    color: navy;
    font-size: 50px;
}
#next {
    border-radius: 10px;
    width: 50px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    font-size: 20px;
    font-family: "Righteous";
    padding: 0 10px; /* Adjust padding as needed */
}
#stopSpeakingButton {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: navy;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: bold;
}

button {
    /* Remove font-family property from button styling */
    font-size: 50px;
    font-family: "Poppins";
    font-weight: bold;
}

#credits {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

button[type="button"]{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
input{
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
}
th{
    color : navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#gradeTable input[type="text"]{
    color : navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#gradeTable input[type="number"]{
    color : navy !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#gradeTable input[type="checkbox"]{
    color : navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#exit{
    margin: 0;
    top: -50;
    left: -50;
}

body, html {
    margin: 0;
    padding: 0;
}


.logo-container {
    position: absolute; 
    top: 0;
    left: 0;
    padding: 5px; 
}
.helplabel {
    position: fixed;
    top: 100px; /* Adjust this value to set the distance from the top */
    right: 110px; /* Adjust this value to set the distance from the right */
    padding: 5px;
    z-index: 1001; /* Ensure it's above the settings layer */
    width: 100px;
    height: auto;
}
.logo-container img {
    width: 250px;
    height: auto; 
}
.setting img {
    width: 150px;
    height: auto;
}
.setting {
    position: fixed;
    top: 10px; /* Adjust this value to set the distance from the top */
    right: 10px; /* Adjust this value to set the distance from the right */
    padding: 5px;
    z-index: 1000; /* Ensure it's above other content */
}
.setting img{
    position: absolute;
    top : 0;
    right : 0;
    padding: 5px;
}
.help {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    z-index: 9999; /* ensure the overlay appears on top of other content */
    display: none; /* initially hidden */
}

.help-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}




